// helper
@import "./helpers/mediaQueries";
@import "./helpers/oocss";
@import "./helpers/grid";

@import "./base/normalize";
@import "./base/variables";
@import "./base/typography";
@import "./base/comment";


// module
@import "./module/form";
@import "./module/card";

// layout
@import "./layout/header";
@import "./layout/subscript";
@import "./layout/footer";

// page
@import "./pages/index";

* {
    box-sizing: border-box;
}

html {
    font-family: "PingFang-SC", "Microsoft JhengHei", sans-serif;
    color:$color-primary-300;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

a {
    color:$color-primary-300;
    text-decoration: none;
    transition: .3s;
}