.col-row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.p-absolute {
  position: absolute; }

.p-relative {
  position: relative; }

.p-fixed {
  position: fixed; }

.element-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.bg-full-center {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.element-block {
  display: block; }

.element-inline {
  display: inline-block; }

.element-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .element-flex .order-0 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0; }
  .element-flex .order-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .element-flex .order-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }

.float-l {
  float: left; }

.float-r {
  float: right; }

.clear-float {
  overflow: hidden; }

.lg-hide {
  display: none; }

@media screen and (max-width: 1200px) {
  .pad-hide {
    display: none; } }

@media screen and (max-width: 768px) {
  .element-flex .sm-order-0 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0; }
  .element-flex .sm-order-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .element-flex .sm-order-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .lg-hide {
    display: block; }
  .sm-hide {
    display: none; } }

.col-12 {
  width: 100%; }

.col-1 {
  width: 6.375%; }

.col-2 {
  width: 14.88636%; }

.col-3 {
  width: 23.39773%; }

.col-4 {
  width: 31.90909%; }

.col-5 {
  width: 40.42045%; }

.col-6 {
  width: 48.93182%; }

.col-7 {
  width: 57.44318%; }

.col-8 {
  width: 65.95455%; }

.col-9 {
  width: 74.46591%; }

.col-10 {
  width: 82.97727%; }

.col-11 {
  width: 91.48864%; }

@media screen and (max-width: 768px) {
  .sm-col-1 {
    width: 6.375%; }
  .sm-col-2 {
    width: 14.88636%; }
  .sm-col-3 {
    width: 23.39773%; }
  .sm-col-4 {
    width: 31.90909%; }
  .sm-col-5 {
    width: 40.42045%; }
  .sm-col-6 {
    width: 48.93182%; }
  .sm-col-7 {
    width: 57.44318%; }
  .sm-col-8 {
    width: 65.95455%; }
  .sm-col-9 {
    width: 74.46591%; }
  .sm-col-10 {
    width: 82.97727%; }
  .sm-col-11 {
    width: 91.48864%; } }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.page780-max {
  max-width: 780px;
  margin: auto;
  width: 77%; }

.page1024-max {
  max-width: 1024px;
  padding: 0 42px;
  margin: auto; }

.bg-primary-300 {
  background-color: #3F5D45; }

.bg-primary-200 {
  background-color: #8DA291; }

.bg-primary-100 {
  background-color: #EAF0ED; }

.bg-secondary-100 {
  background-color: #FFE180; }

.font-primary-300 {
  color: #3F5D45; }

.font-primary-200 {
  color: #8DA291; }

.font-primary-100 {
  color: #EAF0ED; }

.font-light {
  font-weight: 300; }

.font-regular {
  font-weight: 400; }

.font-bold {
  font-weight: 600; }

.font-vertical {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl; }

.font-family-secondary {
  font-family: "Helvetica", sans-serif; }

.font-family-time {
  font-family: "Times"; }

.social {
  padding: 0; }
  .social-media {
    display: inline-block;
    padding-right: 8px; }
    .social-media-icon {
      width: 32px; }

.banner__image {
  max-width: 100%;
  padding-bottom: 53%; }

@media screen and (max-width: 768px) {
  .page1024-max {
    padding: 0; }
  .page780-max {
    padding: 0;
    width: 90%; }
  .banner__image {
    padding-bottom: 74%; } }

form {
  position: relative;
  color: #3F5D45; }
  form input {
    background: #EAF0ED;
    height: 56px;
    padding: 0 60px;
    outline: none;
    border: none;
    border-radius: 0; }
  form .form__icon {
    position: absolute;
    padding-left: 20px;
    line-height: 56px;
    top: 0;
    left: 0; }
  form .form__button {
    border: none;
    background: #FFE180;
    color: #3F5D45;
    height: 56px; }

.card {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .card__wrap {
    border: 1px solid #EAF0ED;
    margin: 0 auto 60px; }
  .card__image__wrap {
    max-height: 315px;
    overflow: hidden;
    position: relative; }
  .card__image {
    width: 100%;
    padding-bottom: 120.6%; }
  .card__info > p {
    width: 50%;
    padding: 15px 0;
    text-align: center;
    font-size: 1.25rem; }
  .card__title {
    border-right: 1px solid #EAF0ED; }
  .card__btn {
    text-align: center;
    padding: 20px 0;
    background: #EAF0ED;
    font-size: 1.5rem; }
    .card__btn:hover {
      background: #FFE180; }
  .card__mark {
    top: 0;
    left: 20px;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    line-height: 2.25rem;
    padding: 10px 0;
    letter-spacing: 5px;
    color: #fff; }
  .card__icon {
    width: 44px;
    height: 44px;
    top: 0;
    right: 0;
    text-align: center; }
    .card__icon .material-icons {
      line-height: 44px; }

@media screen and (max-width: 768px) {
  .card__image {
    padding-bottom: 85%; } }

.header {
  padding: 30px 0; }

.header__switch {
  display: none; }

.header__logo {
  font-size: 0; }
  .header__logo-icon {
    width: 40px;
    padding-right: 8px;
    vertical-align: middle; }
  .header__logo-text {
    width: 171px;
    vertical-align: middle; }

.header__icon .material-icons {
  line-height: 40px; }

.navbar {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: right; }
  .navbar__wrap {
    margin: 10px 0; }
  .navbar__item {
    padding: 0 30px;
    display: inline-block;
    vertical-align: middle; }
  .navbar__link:hover {
    color: #2C4832; }

.shopping-car {
  padding-left: 40px; }

@media screen and (max-width: 768px) {
  .element-flex {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__switch {
    display: inline-block; }
  .header__logo-icon {
    display: none; }
  .header__logo-text {
    height: 100%;
    width: 114px; }
  .header__icon .material-icons {
    line-height: 26px;
    padding: 0 33px; }
  .navbar {
    width: 100%;
    top: 87px;
    -webkit-box-shadow: 0 4px 5px #dad9d9;
            box-shadow: 0 4px 5px #dad9d9;
    background-color: white;
    position: absolute;
    text-align: center;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .navbar__wrap {
      padding: 0; }
    .navbar__item {
      width: 100%;
      padding: 10px 0;
      background: #fff; }
    .navbar.navbar-active {
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0);
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
  .shopping-car {
    padding: 0; } }

.subscript {
  padding: 30px 0; }
  .subscript__title, .subscript__logo {
    display: inline-block;
    vertical-align: middle; }
  .subscript__title {
    font-size: 1.5rem;
    padding-left: 20px; }
  .subscript__sendmail {
    max-width: 380px;
    width: 100%; }
  .subscript .form__input {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .subscript .form__button {
    width: 64px;
    top: 0;
    right: 0; }
  @media screen and (max-width: 768px) {
    .subscript {
      text-align: center; }
      .subscript__topic {
        width: 100%;
        margin-bottom: 2rem; }
      .subscript__sendmail {
        margin: 0 auto; } }

.footer__logo-icon {
  width: 40px;
  height: 40px; }

.footer {
  padding: 30px 0; }
  .footer__logo-text {
    width: 171px; }
  .footer__word-img {
    width: 57px; }
  .footer__desc {
    position: absolute;
    bottom: 0;
    line-height: 1.5rem; }
  .footer__social {
    margin-top: 30px; }
  .footer .copyright {
    font-family: "Times"; }

@media screen and (max-width: 768px) {
  .footer__word-img {
    display: none; }
  .footer__desc {
    position: relative;
    margin-top: 20%; }
  .footer .social,
  .footer .copyright {
    width: 100%; }
  .footer .copyright {
    margin-top: 30px; } }

.submenu {
  top: -80px;
  height: 256px; }
  .submenu__item, .submenu__bg, .submenu__mask {
    height: 100%;
    width: 100%;
    top: 0; }
  .submenu__bg {
    -webkit-filter: blur(3px);
            filter: blur(3px);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .submenu__mask {
    background-color: #3F5D45;
    opacity: .8;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .submenu__desc {
    color: #fff;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    font-size: 1.5rem;
    letter-spacing: 5px; }
  .submenu__item {
    overflow: hidden;
    width: 33.33333%; }
    .submenu__item:hover .submenu__bg {
      -webkit-filter: blur(0);
              filter: blur(0);
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
    .submenu__item:hover .submenu__mask {
      background-color: #FFE180; }
    .submenu__item:hover .submenu__desc {
      color: #3F5D45; }

.story__section {
  position: relative;
  margin-bottom: 8.5%; }

.story__image__wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49%;
          flex: 0 0 49%;
  margin: -20px 0; }

.story__image {
  padding-bottom: 100%; }

.story__desc__wrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  height: 280px;
  margin: 70px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27%;
          flex: 0 0 27%;
  line-height: 2rem;
  color: #8DA291; }

.story__desc {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl; }

.story__title {
  max-width: 10%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  margin-top: -140px; }
  .story__title.title-center {
    margin: 0 auto; }

@media screen and (max-width: 1200px) {
  .story__desc__wrap {
    margin: 20px 0; }
  .story__title {
    margin-top: -120px; } }

@media screen and (max-width: 768px) {
  .submenu {
    top: 0;
    height: 200px; }
    .submenu__desc {
      font-size: 1.25rem; }
    .submenu.page780-max {
      width: 100%; }
  .story__mobile__title {
    margin: 3rem auto;
    width: 52%;
    display: block; }
  .story__image__wrap {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: 0; }
  .story__image {
    padding-bottom: 66%; }
  .story__desc__wrap {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    margin: 30px auto; }
  .story__desc {
    -webkit-writing-mode: inherit;
        -ms-writing-mode: inherit;
            writing-mode: inherit; } }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-family: "PingFang-SC", "Microsoft JhengHei", sans-serif;
  color: #3F5D45;
  font-size: 1rem;
  line-height: 1.5; }

a {
  color: #3F5D45;
  text-decoration: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
