/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.page780-max {
  max-width: 780px;
  margin: auto; }

.page1024-max {
  max-width: 1024px;
  padding: 0 42px;
  margin: auto; }

.p-absolute {
  position: absolute; }

.p-relative {
  position: relative; }

.p-fixed {
  position: fixed; }

.element-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.element-inline {
  display: inline-block; }

.float-l {
  float: left; }

.float-r {
  float: right; }

.clear-float {
  overflow: hidden; }

.col-row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

@media screen and (max-width: 768px) {
  .page1024-max {
    padding: 0; }
  .page780-max {
    padding: 0;
    width: 90%; } }

.bg-primary-300 {
  background-color: #3F5D45; }

.bg-primary-200 {
  background-color: #8DA291; }

.bg-primary-100 {
  background-color: #EAF0ED; }

.bg-secondary-100 {
  background-color: #FFE180; }

.font-primary-300 {
  color: #3F5D45; }

.font-primary-200 {
  color: #8DA291; }

.font-primary-100 {
  color: #EAF0ED; }

.font-size-xx-large {
  font-size: 2.25rem;
  line-height: 3rem; }

.font-size-x-large {
  font-size: 1.5rem;
  line-height: 2rem; }

.font-size-large {
  font-size: 1.25rem;
  line-height: 1.75rem; }

.font-size-regular {
  font-size: 1rem;
  line-height: 1.5rem; }

.font-size-regular-lr {
  font-size: 1rem;
  line-height: 2.5rem; }

.font-light {
  font-weight: 300; }

.font-regular {
  font-weight: 400; }

.font-bold {
  font-weight: 600; }

.font-family-secondary {
  font-family: "Helvetica", sans-serif; }

.font-family-time {
  font-family: "Times"; }

.social {
  padding: 0; }
  .social-media {
    display: inline-block;
    padding-right: 8px; }
    .social-media-icon {
      width: 32px; }

form {
  position: relative;
  color: #3F5D45; }
  form input {
    background: #EAF0ED;
    height: 56px;
    padding: 0 60px;
    outline: none;
    border: none; }
  form .form__icon {
    position: absolute;
    padding-left: 20px;
    line-height: 56px;
    top: 0;
    left: 0; }
  form .form__button {
    border: none;
    background: #FFE180;
    color: #3F5D45;
    height: 56px; }

.header {
  padding: 30px 0; }

.header__switch {
  display: none; }

.header__logo {
  font-size: 0; }
  .header__logo-icon {
    width: 40px;
    padding-right: 8px;
    vertical-align: middle; }
  .header__logo-text {
    width: 171px;
    vertical-align: middle; }

.header__icon .material-icons {
  line-height: 40px; }

.navbar {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: right; }
  .navbar__wrap {
    margin: 10px 0; }
  .navbar__item {
    padding: 0 30px;
    display: inline-block;
    vertical-align: middle; }
  .navbar__link:hover {
    color: #2C4832; }

.shopping-car {
  padding-left: 40px; }

@media screen and (max-width: 768px) {
  .element-flex {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__switch {
    display: inline-block; }
  .header__logo-icon {
    display: none; }
  .header__logo-text {
    height: 100%;
    width: 114px; }
  .header__icon .material-icons {
    line-height: 26px;
    padding: 0 33px; }
  .navbar {
    width: 100%;
    top: 88px;
    -webkit-box-shadow: 0 4px 5px #dad9d9;
            box-shadow: 0 4px 5px #dad9d9;
    background-color: white;
    position: absolute;
    text-align: center;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .navbar__wrap {
      padding: 0; }
    .navbar__item {
      width: 100%;
      padding: 10px 0;
      background: #fff; }
    .navbar.navbar-active {
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0);
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
  .shopping-car {
    padding: 0; } }

.subscript {
  padding: 30px 0; }
  .subscript__title, .subscript__logo {
    display: inline-block;
    vertical-align: middle; }
  .subscript__title {
    padding-left: 20px; }
  .subscript__sendmail {
    max-width: 380px;
    width: 100%; }
  .subscript .form__input {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .subscript .form__button {
    width: 64px;
    top: 0;
    right: 0; }
  @media screen and (max-width: 768px) {
    .subscript {
      text-align: center; }
      .subscript__topic {
        width: 100%;
        margin-bottom: 2rem; }
      .subscript__sendmail {
        margin: 0 auto; } }

.footer__logo-icon {
  width: 40px;
  height: 40px; }

.footer {
  padding: 30px 0; }
  .footer__logo-text {
    width: 171px; }
  .footer__word-img {
    width: 57px; }
  .footer__desc {
    position: absolute;
    bottom: 0; }
  .footer__social {
    margin-top: 30px; }
  .footer .copyright {
    font-family: "Times"; }

@media screen and (max-width: 768px) {
  .footer__word-img {
    display: none; }
  .footer__desc {
    position: relative;
    margin-top: 20%; }
  .footer .social,
  .footer .copyright {
    width: 100%; }
  .footer .copyright {
    margin-top: 30px; } }

* {
  font-family: "PingFang-SC", "Microsoft JhengHei", sans-serif;
  color: #3F5D45; }
