.page780-max {
    max-width: 780px;
    margin: auto;
    width: 77%;
}

.page1024-max {
    max-width: 1024px;
    padding: 0 42px;
    margin: auto;
}

.bg-primary-300 {
    background-color: $color-primary-300;
}

.bg-primary-200 {
    background-color: $color-primary-200;
}

.bg-primary-100 {
    background-color: $color-primary-100;
}

.bg-secondary-100 {
    background-color: $color-secondary-100;
}

.font-primary-300 {
    color: $color-primary-300;
}

.font-primary-200 {
    color: $color-primary-200;
}

.font-primary-100 {
    color: $color-primary-100;
}

.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-bold {
    font-weight: 600;
}

.font-vertical {
    writing-mode: vertical-rl;
}

.font-family-secondary {
    font-family: "Helvetica", sans-serif;
}

.font-family-time {
    font-family: "Times";
}

.social {
    padding: 0;
    &-media {
        display: inline-block;
        padding-right: 8px;
        &-icon {
            width: 32px;
        }
    }
}

.banner {
    &__image {
        max-width: 100%;
        padding-bottom: 53%;
    }
    &__title {
        top: 0;
        right: 0;
        margin: 40px 80px;
        max-width: 8.7%;
    }
}

.button {
    text-align: center;
    padding: 20px 0;
    background: $color-primary-100;
    font-size: $font-size-xl;
    &.button-primary{
        background: $color-primary-100;
        &:hover {
            background: $color-secondary-100;
        }
    }
    &.button-secondary{
        background: $color-secondary-100;
        &:hover {
            background: $color-primary-100;
        }
    }
}

@include media-breakpoint(mobile) {
    .page1024-max {
        padding: 0;
    }
    .page780-max {
        padding: 0;
        width: 90%;
    }
    .banner {
        &__image {
            padding-bottom: 74%;
            &-bigger{
                padding-bottom: 144%;
            }
        }
        &__title {
            margin: 30px;
            max-width: 15%;
        }
    }
}