.pagination { 
    margin-top: 10px;
    &__wrap{
        justify-content: flex-end;
    }
    &__item {
        border-right: 1px solid $color-primary-100;
        border-bottom: 1px solid $color-primary-100;
        border-top: 1px solid $color-primary-100;
        font-size: 0;
        &:first-child{
            border-left: 1px solid $color-primary-100;
        }
    }
    &__link {
        height: 60px;
        width: 60px;
        line-height: 60px;
        display: inline-block;
        text-align: center;
        font-size: $font-size-m;
        &:hover {
            color: #fff;
            background-color: $color-primary-300;
        }
    }
}

@include media-breakpoint(mobile){
    .pagination { 
        margin-top: 0;
        &__wrap{
            justify-content: center;
        }
    }
}