.footer__logo-icon {
    width: 40px;
    height: 40px;
}

.footer {
    padding: 30px 0 ;
    &__logo-text {
        width: 171px;
    }
    &__word-img {
        width: 57px;
    }
    &__desc {
        position: absolute;
        bottom: 0;
    }
    &__social {
        margin-top: 30px;
    }
    .copyright {
        font-family: "Times";
    }
}
@include media-breakpoint(mobile) {
    .footer {
        &__word-img {
            display: none;
        }
        &__desc {
            position: relative;
            margin-top: 20%;
        }
        .social,
        .copyright {  
            width: 100%;
        }
        .copyright {
            margin-top: 30px;
        }
    }
}