.footer__logo-icon {
    width: 40px;
    height: 40px;
}

#footer {
    .subscript {
        &__topic,
        &__sendmail,
        &__title,
        &__logo {
            display: inline-block;
            vertical-align: middle;
        }
        &__title {
            color: #fff;
            @include font-size-x-large;
            padding-left: 20px;
        }
    }
}