.submenu {
    top: -80px;
    height: 256px;
    &__item, &__bg, &__mask {
        height: 100%;
        width: 100%;
        top: 0;
    }
    &__bg {
        filter: blur(3px);
        transition: .3s;
    }
    &__mask {
        background-color:$color-primary-300;
        opacity: .8;
        transition: .3s;
    }
    &__desc {
        color:#fff;
        transition: .3s;
        font-size: $font-size-xl;
        letter-spacing: 5px;
    }
    &__item {
        overflow: hidden;
        width: (4/12 * 100%);
        &:hover{
            .submenu__bg {
                filter: blur(0);
                transition: .3s;
            }
            .submenu__mask {
                background-color:$color-secondary-100;
            }
            .submenu__desc {
                color:$color-primary-300;
            }
        }
    }
}
.story {
    &__section {
        position: relative;
        margin-bottom: 8.5%;
    }
    &__image__wrap {
        flex: 0 0 49%;
        margin: -20px 0;
    }
    &__image {
        padding-bottom: 100%;
    }
    &__desc__wrap {
        flex-direction: row-reverse;
        height: 280px;
        margin: 70px 0;
        flex: 0 0 27%;
        line-height: 2rem;
        color:$color-primary-200;
    }
    &__desc {
        writing-mode: vertical-rl;
    }
    &__title {
        max-width: 10%;
        flex: 0 0 10%;
        margin-top: -140px;
        &.title-center{
            margin: 0 auto;
        }
    }
}
@include media-breakpoint(pad){
    .story {
        &__desc__wrap {
            margin: 20px 0;
        }
        &__title {
            margin-top: -120px;
        }
    }

}
@include media-breakpoint(mobile){
    .submenu {
        top: 0;
        height: 200px;
        &__desc {
            font-size: $font-size-l;
        }
        &.page780-max {
            width: 100%;
        }
    }
    .story {
        &__mobile__title {
            margin: 3rem auto;
            width: 52%;
            display: block;
        }
        &__image__wrap {
            flex: 0 0 100%;
            margin: 0;
        }
        &__image {
            padding-bottom: 66%;
        }
        &__desc__wrap {
            flex: 0 0 90%;
            flex-wrap: wrap;
            flex-direction: row;
            height: auto;
            margin: 30px auto;
        }
        &__desc {
            writing-mode: inherit;
        }
    }
}
